<div class="sidebar-brand">
    <a class="brand-link">
        @if (service.isCollapse) {
        <img src="assets/images/logo_7.svg" alt="AdminLTE Logo" class="brand-image shadow">
        }
        @if (!service.isCollapse) {
        <img src="assets/images/logo_6.svg" alt="AdminLTE Logo" class="brand-image shadow">
        }
        <!-- <span class="brand-text fw-light " [ngClass]="{'hideOnCollapse': service.isCollapse}">RealBucs</span> -->
    </a>
    <p (click)="service.collapseSidebar()" class="closeMenu">&times;</p>
</div>
<div class="sidebar-wrapper">
    <nav class="mt-2">
        <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
                <a (click)="onClick('dashboard')"
                    [ngClass]="{'active': currentRoute === '/dashboard' || currentRoute === 'dashboard'}"
                    class="nav-link"> <i class="nav-icon bi bi-speedometer"></i>
                    <p [ngClass]="{'hideOnCollapse': service.isCollapse}">
                        Dashboard
                    </p>
                </a>
            </li>
            <li class="nav-item"> <a (click)="onClick('sell')"
                    [ngClass]="{'active': currentRoute === '/sell' || currentRoute === 'sell'}" class="nav-link"> <i
                        class="fa fa-list-ul" aria-hidden="true"></i>
                    <p [ngClass]="{'hideOnCollapse': service.isCollapse}">Sell User</p>
                </a> </li>
            <li class="nav-item"> <a (click)="onClick('buy')"
                    [ngClass]="{'active': currentRoute === '/buy' || currentRoute === 'buy'}" class="nav-link"> <i
                        class="fa fa-list-ul" aria-hidden="true"></i>
                    <p [ngClass]="{'hideOnCollapse': service.isCollapse}">Buy User</p>
                </a>
            </li>
            <li class="nav-item"> <a (click)="onClick('sell&Buy')"
                    [ngClass]="{'active': currentRoute === '/sell&Buy' || currentRoute === 'sell&Buy'}"
                    class="nav-link"> <i class="fa fa-list-ul" aria-hidden="true"></i>
                    <p [ngClass]="{'hideOnCollapse': service.isCollapse}">Sell & Buy User</p>
                </a>
            </li>
            <li class="nav-item"> <a (click)="onClick('agents')"
                    [ngClass]="{'active': currentRoute === '/agents' || currentRoute === 'agents'}" class="nav-link"> <i
                        class="fa fa-list-ul" aria-hidden="true"></i>
                    <p [ngClass]="{'hideOnCollapse': service.isCollapse}">Agents</p>
                </a>
            </li>
            <li class="nav-item"> <a (click)="onClick('listing')"
                    [ngClass]="{'active': currentRoute === '/listing' || currentRoute === 'listing'}" class="nav-link"> <i
                        class="fa fa-list-ul" aria-hidden="true"></i>
                    <p [ngClass]="{'hideOnCollapse': service.isCollapse}">Property Listing</p>
                </a>
            </li>
            <li class="nav-item"> <a (click)="onClick('property-enquiry')"
                    [ngClass]="{'active': currentRoute === '/property-enquiry' || currentRoute === 'property-enquiry'}" class="nav-link"> <i
                        class="fa fa-list-ul" aria-hidden="true"></i>
                    <p [ngClass]="{'hideOnCollapse': service.isCollapse}">property Enquiry</p>
                </a>
            </li>
            <li class="nav-item"> <a (click)="onClick('settings')"
                    [ngClass]="{'active': currentRoute === '/settings' || currentRoute === 'settings'}" class="nav-link"> <i
                        class="fa fa-cog" aria-hidden="true"></i>
                    <p [ngClass]="{'hideOnCollapse': service.isCollapse}">Settings</p>
                </a>
            </li>
        </ul>
    </nav>

    <div class="logout">
        <div class="logoutbtn" (click)="logout()">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            <p>LOGOUT</p>
        </div>
    </div>


</div>