.modal-wrapper-design {
    width: 100%;
    height: 100%;
    z-index: 99997;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.40);
    /* --tw-backdrop-blur: blur(24px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia); */
}

.modal-wrapper-design {
    padding: 16px;
}

.employer-box::-webkit-scrollbar {
    width: 0;
}

.employer-box {
    scrollbar-width: none;
}

.employer-box::-webkit-scrollbar-thumb {
    display: none;
}

.employer-box {
    position: relative;
    max-width: 720px;
    width: 100%;
    border-radius: 16px;
    background: #FFF;
    padding: 0px;
    max-height: 100%;
    overflow-y: scroll;
    margin: auto;

    .archived_modal {
        width: 720px;
        border-radius: 16px;
        background: #FFF;
        padding: 24px;

        .close_btn_div {
            position: absolute;
            right: 20px;
            top: 20px;

            .new_close_btn {
                border: none;
                background: #FFF;

                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .modal_title {
            .modal_title_text {
                color: #000;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: 0.72px;
            }

            .modal_title_subtext {
                color: #64748B;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.42px;
            }

            img {
                width: 32px;
                height: 32px;
            }
        }

        .modal_btn {
            button {
                border-radius: 6px;
                border: 1px solid #E4E4E7;
                background: #FFF;
                color: #000;
                text-align: center;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                height: 40px;
                min-width: 90px;
                padding: 0 10px;
            }

            .delete_btn {
                border: 1px solid #EF4343;
                background: #EF4343;
                color: #fff;
            }
        }
    }
}

@media (max-width:768px) {
    .modal-wrapper-design {
        padding: 8px;
    }

    .employer-box {
        max-width: 100%;

        .archived_modal {
            width: 100%;

            .close_btn_div {
                position: absolute;
                right: 11px;
                top: 10px;

                .new_close_btn {
                    border: none;
                    background: #FFF;

                    img {
                        width: 24px;
                        height: 24px;
                    }
                }
            }

            .modal_title {
                .modal_title_text {
                    font-size: 20px;
                    letter-spacing: 0.6px;
                }

                .modal_title_subtext {
                    line-height: 20px;
                }
            }

            form {
                .form_options {
                    .form_option {

                        ::ng-deep {

                            .intelInput input {
                                padding: 8px 10px 8px 0px !important;
                            }
                        }
                    }
                }

                button {
                    height: 36px;
                }
            }
        }
    }
}

input::placeholder {
    color: #64748B;
    opacity: 1;
}

input::-webkit-input-placeholder {
    color: #64748B;
}

input::-moz-placeholder {
    color: #64748B;
}

input:-ms-input-placeholder {
    color: #64748B;
}

input::-ms-input-placeholder {
    color: #64748B;
}