<div class="app-wrapper" [ngClass]="layoutClass">

    <!-- Header Start -->
    <app-header  [ngClass]="{'blurbg': !service.isCollapse}"></app-header>
    <!-- Header End-->

    <!--Aside Start-->
    <aside class="app-sidebar bg-body-secondary shadow" [ngClass]="{'collapseSidebar': service.isCollapse,'mobilemenu': !service.isCollapse}" data-bs-theme="dark">
        <app-aside></app-aside>
    </aside>

    <!--Aside End-->

    <!--Main Start-->
    <main class="app-main" [ngClass]="{'blurbg': !service.isCollapse}">
        <router-outlet></router-outlet>
    </main>
    <!--Main End-->

    <!--Footer Start-->
    <!-- <app-footer style="display: contents;"></app-footer> -->
    <!--Footer End-->




</div>