<nav class="app-header navbar navbar-expand bg-body">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li (click)="service.collapseSidebar()" class="nav-item">
                <a class="nav-link" data-lte-toggle="sidebar" role="button">
                    <i class="bi bi-list"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown user-menu">
                <a class="nav-link dropdown-toggle">
                    <img src="assets/images/profile_pic.svg" class="user-image rounded-circle shadow" alt="User Image">
                    <span class="d-none d-md-inline">{{service?.userName?service?.userName:'User'}}</span>
                </a>
                <!-- <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
                    <li class="user-header text-bg-primary"> <img src="/assets/img/user2-160x160.jpg"
                            class="rounded-circle shadow" alt="User Image">
                        <p>{{service?.userName?service?.userName:'User'}}</p>
                    </li>
                    <li class="user-footer" (click)="logout()">
                        <a class="btn btn-default btn-flat float-end">Sign out</a>
                    </li>
                </ul> -->
            </li>
        </ul>
    </div>
</nav>