<div class="offcanvas offcanvas-end" [class.show]="isOpen" data-bs-scroll="false" tabindex="-1" id="buyOffcanvas">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title fw-bold">{{title}}</h5>
    <button type="button" class="btn-close text-reset" (click)="closeOffcanvas()"></button>
  </div>
  <div class="offcanvas-body" *ngIf="settingData">
    <form [formGroup]="settingForm">
      <div class="form_details d-flex flex-column gap-3">
        <div class="form_field d-flex gap-1 flex-column" *ngIf="settingData?.name">
          <p class="m-0 fw-bold">Name</p>
          <div class="input_box px-3 py-2">
            <p class="m-0">{{settingData?.name}}</p>
          </div>
        </div>
        <div class="form_field d-flex gap-1 flex-column" *ngIf="settingData?.value">
          <p class="m-0 fw-bold">Value</p>
          <div class="input_box px-3 py-2">
            <input type="number" formControlName="value">
            <!-- <p class="m-0">{{settingData?.value}}</p> -->
          </div>
        </div>
        <button class="btn btn-primary" [disabled]="settingForm.invalid" (click)="updateSettingValue()">Update</button>
      </div>
    </form>
  </div>
</div>
<div class="offcanvas-backdrop fade show"></div>