.form_details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;

    .form_option {
        .label {
            color: #070A13;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
        }

        input {
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            border-radius: 4px;
            border: 1.5px solid #CBD5E1;
        }

        input:focus {
            outline: none;
        }


        textarea {
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            border-radius: 4px;
            border: 1.5px solid #CBD5E1;
        }

        textarea:focus {
            outline: none;
        }

        .intelInput {
            border-radius: 4px;
            border: 1.5px solid #CBD5E1;
        }

        ::ng-deep {
            .iti {
                display: flex;

                .iti__flag-container {
                    position: relative !important;
                    padding: 0px 12px 0px 12px !important;
                    display: flex;
                    align-items: center;

                    .iti__selected-flag {
                        .selected-dial-code {
                            color: #000;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px;
                            margin: 0px !important;
                        }
                    }

                    .dropdown-toggle {
                        width: fit-content !important;
                        padding: 0px !important;
                        display: flex !important;
                        justify-content: center !important;
                        align-items: center !important;
                        border-radius: 0px;
                        background: #fff !important;
                        color: #000;
                        max-width: -webkit-fill-available !important;
                        max-width: -moz-available;
                        gap: 4px;
                    }

                    .dropdown-toggle:hover {
                        background: #fff !important;
                    }

                    .dropdown-menu {
                        max-width: 300px !important;
                        min-width: 12rem;

                        .iti__country-list {
                            max-height: 181px !important;
                            overflow-y: auto !important;
                        }
                    }
                }
            }

            .iti__flag-box {
                display: inline-block !important;
            }

            .intelInput input::placeholder {
                color: #64748B;
            }

            .intelInput input {
                border: none;
                background: #fff;
                color: #000;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                width: 100% !important;
                padding: 12px 10px 12px 0px !important;
                border-radius: 0px 4px 4px 0px;
            }

            .intelInput input:focus {
                outline: none;
            }
        }
    }

    .preview-container {
        display: flex;
        flex-direction: row;
        gap: 16px;
        flex-wrap: wrap;

        .image-preview {
            position: relative;

            .preview {
                width: 150px;
                height: 80px;
                border-radius: 8px;
            }

            .delete_icon {
                width: 16px;
                height: 16px;
                position: absolute;
                top: 5px;
                right: 5px;
                cursor: pointer;
            }
        }

        .docs-preview {
            position: relative;
            border: 1px dotted red;
            border-radius: 6px;
            padding: 25px 5px 5px 5px;

            .preview {
                width: 150px;
                height: 80px;
                border-radius: 8px;
            }

            .delete_icon {

                position: absolute;
                top: 3px;
                right: 5px;
                cursor: pointer;

                img {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }

    .btn_div {
        display: flex;
        align-items: center;
        gap: 16px;

        button {
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.48px;
            border-radius: 6px;
            background: #1e21dd;
            height: 36px;
            width: 100%;
            border: none;
            width: fit-content;
            padding: 0px 16px;
        }

        .disabled_btn {
            background: #e7ecf1;
            color: #000;
        }
    }

    .propertyType {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        border-radius: 4px;
        border: 1.5px solid #CBD5E1;
    }
}